
.we{
    background-color: aqua;
}
.red{
    background-color: brown;
    height: 270px; width: 666px;float: left;}
.orange{
background-color: orangered;
float: right;
height: 270px;
 width: 667px;
}